<h1>Listing teams</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Color1</th>
      <th>Color2</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= team.code %></td>
        <td><%= team.color1 %></td>
        <td><%= team.color2 %></td>
        <td><%= link_to 'Show', team %></td>
        <td><%= link_to 'Edit', edit_team_path(team) %></td>
        <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_team_path %>
