<%= form_for(@bet) do |f| %>
  <% if @bet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bet.errors.count, "error") %> prohibited this bet from being saved:</h2>

      <ul>
      <% @bet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
		<%= f.select :user, User.all.map {|f| f.name} %>
  </div>
  <div class="field">
    <%= f.label :game_id %><br>
    <%= f.select :game_id, Game.all.map {|f| f.id} %>
  </div>
  <div class="field">
    <%= f.label :week %><br>
    <%= f.number_field :week %>
  </div>
  <div class="field">
    <%= f.label :hit %><br>
    <%= f.number_field :hit %>
  </div>
  <div class="field">
    <%= f.label :tip %><br>
    <%= f.number_field :tip %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
