<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @bet.user.name %>
</p>

<p>
  <strong>Week:</strong>
  <%= @bet.week %>
</p>

<p>
  <strong>Hits:</strong>
  <%= @bet.hits %>
</p>

<p>
  <strong>Tip1:</strong>
  <%= @bet.tip1 %>
</p>

<p>
  <strong>Tip2:</strong>
  <%= @bet.tip2 %>
</p>

<p>
  <strong>Tip3:</strong>
  <%= @bet.tip3 %>
</p>

<p>
  <strong>Tip4:</strong>
  <%= @bet.tip4 %>
</p>

<p>
  <strong>Tip5:</strong>
  <%= @bet.tip5 %>
</p>

<p>
  <strong>Tip6:</strong>
  <%= @bet.tip6 %>
</p>

<p>
  <strong>Tip7:</strong>
  <%= @bet.tip7 %>
</p>

<p>
  <strong>Tip8:</strong>
  <%= @bet.tip8 %>
</p>

<p>
  <strong>Tip9:</strong>
  <%= @bet.tip9 %>
</p>

<p>
  <strong>Tip10:</strong>
  <%= @bet.tip10 %>
</p>

<p>
  <strong>Tip11:</strong>
  <%= @bet.tip11 %>
</p>

<p>
  <strong>Tip12:</strong>
  <%= @bet.tip12 %>
</p>

<p>
  <strong>Tip13:</strong>
  <%= @bet.tip13 %>
</p>

<p>
  <strong>Tip14:</strong>
  <%= @bet.tip14 %>
</p>

<p>
  <strong>Tip15:</strong>
  <%= @bet.tip15 %>
</p>

<%= link_to 'Edit', edit_bet_path(@bet) %> |
<%= link_to 'Back', bets_path %>
