<article id="bets">
	<h1>Apostes</h1>
	<table class="table table-hover">
		<thead>
				<tr>
					<th><a {{action pushSort "week"}}>Setmana</a></th>
					<th>Partit</th>
					<th>Pronòstic</th>
					<th>Encert</th>
					<th><a {{action pushSort "user_id"}}>Usuari</a></th>
					<th>Actualització</th>
				</tr>
		</thead>
		<tbody>
			{{#each bet in bets}}
				<tr>
					<td>{{bet.week}}</td>
					<td>{{bet.game_id}}</td>
					<td>{{bet.tip}}</td>
					<td>
						{{#if bet.hit}}
							<span class="glyphicon glyphicon-ok"></span>
						{{else}}
							<span class="glyphicon glyphicon-remove"></span>
						{{/if}}
					</td>
					<td>{{bet.user_id}}</td>
					<td>{{bet.formatDate}}</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
</article>