<article id="games">
	<h1>Partits</h1>
		<table class="table table-hover">
		<thead>
				<tr>
					<th><a {{action pushSort "week"}}>Setmana</a></th>
					<th>Partit</th>
					<th>Resultat</th>
				</tr>
		</thead>
		<tbody>
			{{#each game in controller}}
				<tr>
					<td>{{game.week}}</td>
					<td>{{game.fullGame}}</td>
					<td>
						{{#if game.result}}
							{{game.result}}
						{{else}}
							No Finalitzat
						{{/if}}
					</td>
				</tr>
			{{/each}}
		</tbody>
</article>